{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='index.css')}}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
{% endblock %}

{% block content%}
<ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="face">Face</a></li>
    <li><a href="voice">Voice</a></li>
  </ul>
  <h2>Anxiety and Depression Detection</h2>



{% endblock %}